<footer class="footer">
  <div class="section-divider"></div>


  <div class="footer-content">
    <div class="footer-logo">
      <img src="image/sky_denied_logo_final.png" alt="Sky Denied Logo" class="logo-img" />
    </div>
    <div class="footer-text">
      <div class="footer-section">
        <h2>Site Map</h2>
        <ul>
          <li><a routerLink="/homepage">Home</a></li>
          <li><a routerLink="/our-model">Our model</a></li>
          <li><a routerLink="/about-us">About us</a></li>
          <li><a routerLink="/search">Request a prediction</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h2>Legal Resources</h2>
        <ul>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Terms of use</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
