.section {
  max-width: 65%;
}

.section-text {
  max-width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.search-link a {
  max-width: 50%;
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 48px;
  color: var(--purple_sd);
  min-width: 700px;
}

.section-divider {
  margin: 2% auto auto;
  width: 70%;
}

.section-training {
  display: flex;
  justify-content: space-evenly;
  max-width: 70%;
  min-width: 40%;
  margin: auto;
  gap: 5%;
  align-items: center;
  flex-wrap: wrap;
}

.section-training p {
  max-width: 93%;
}


.image-training {
  display: flex;
  padding: 0 0 3%;
  height: 250px;
}

.image {
  padding-top: 5%;
  padding-left: 2%;
}

.image img {
  height: 250px;
}

.paragraph a {
  font-family: 'Lato', sans-serif;
}

p {
  text-align: justify;
}

.section h1 {
  font-size: 32px;
}

.paragraph {
  flex: 1 1 40%;
  min-width: 35%;
}
