.search-form {
  max-width: 800px;
  margin: 0px auto;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.row label {
  width: 200px;
  text-align: right;
}

.row input {
  flex: 1;
  border: 1px solid lightgrey;
  border-radius: 4px;
  text-align: center;
}

.input-box {
  width: 100%;
  border: 1px solid lightgrey;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem 0;
}

.input-box label {
  margin: 0.5rem;
}

.input-box input {
  border: none;
  border-bottom: 1px solid lightgrey;
}

.search-button button {
  background-color: var(--blue_sd);
  align-content: end;
  white-space: nowrap;
}

.button:hover {
  background-color: #592f6b;
}
