<h1>
  Search
</h1>
<div class="search-form">
  <div class="row">
    <div class="input-box">
      <label>
        Departure date (YYYYMMDD)
      </label>
      <input id="date" placeholder="20250128" />
    </div>
  </div>
  <h2>
    Using your outbound
  </h2>
  <div class="row">
    <div class="input-box">
      <label>
        From
      </label>
      <input id="departure" placeholder="London" />
    </div>
    <div class="input-box">
      <label>
        To
      </label>
      <input id="destination" placeholder="Paris" />
    </div>
    <div class="search-button">
      <button>Make a search</button>
    </div>
  </div>
  <h2>
    Or your flight number
  </h2>
  <div class="row">
    <div class="input-box">
      <label>
        Flight number
      </label>
      <input id="flight_number" placeholder="AA1234" />
    </div>
    <div class="search-button">
      <button>Make a search</button>
    </div>
  </div>
</div>
