<div class="about-us-content">
  <h1 class="page-title">
    About us
  </h1>
  <div class="photos">
    <img src="image/daniel.svg" alt="Daniel" />
    <img src="image/charlotte.svg" alt="Charlotte" />
    <img src="image/amaelle.svg" alt="Amaëlle" />
    <img src="image/nour-imane.svg" alt="Nour-Imane" />
    <img src="image/duong.svg" alt="Duong" />
  </div>

  <div class="section-divider"></div>

  <div class="section">
    <div class="paragraph">
      <h1>The team</h1>
      <p>Composed of 5 motivated students from Cranfield University, the team of Sky Denied is determined to offer some help to disoriented flyers to prepare their travel and get the right compensation when it is necessary! They have shared their strenghts and skills to achieve this ambitious project. Three teams have been created to design the different elements of this project: the data team, focused on the collection, processing of the data for training the model and predicting delay, the machine learning team focused on training the model and testing it, and the web-app team focused on making this website available for you, users!</p>
    </div>
    <div class="image">
      <img src="image/cranfield_logo.png" alt="Cranfield logo"/>
    </div>
  </div>

  <div class="section">
    <div class="image">
      <img src="image/sky_denied_logo_final.png" alt="Sky Denied logo"/>
    </div>
    <div class="paragraph">
      <h1>The project</h1>
      <p>
        First designed as a school group project, the team members invested themselves into the project.  They found themselves eager to make their solution available for the customers. They conceived the model based on Graphical Neural Network and Long Short Term Memory, and linked it into the website you are currently on. The web application Sky Denied was born.
        You can find more information about the prediction model and its accuracy level on the page:
      <a routerLink="\our-model">Our model.</a>
      </p>
    </div>
  </div>

</div>
