<div class="homepage-content">
  <!-- Search form -->
  <app-search-form (searchStarted)="handleSearchStarted()" (searchResults)="handleSearchResults($event)"></app-search-form>
  <app-search-results *ngIf="searchClicked" [flights]="searchResults" (predictClicked)="handlePredictionTrigger()" (notifyClicked)="handleGetNotifiedTrigger()"></app-search-results>

<!--pop ups -->
<app-prediction-results *ngIf="showPredictionPopup" (closePopup)="closePredictionPopup()"></app-prediction-results>
<app-input-email-form *ngIf="showGetNotifiedPopup" (closeGetNotifiedPopup)="closeGetNotifiedPopup()"></app-input-email-form>

  <!-- First section -->
  <div class="section">
    <div class="paragraph">
      <h1>Predicting delays</h1>
      <p>Flight delays are becoming increasingly common, affecting customers, airlines, and the entire aviation industry. For travelers, an unexpected delay can disrupt important plans and cause stress. At Sky Denied, we help you stay ahead by predicting flight delays, allowing you to adjust your schedule accordingly. Our machine learning models analyse real-time data to provide accurate predictions, giving you the power to make informed decisions. Beyond just forecasting delays, we also assist in claiming compensation from airlines, ensuring you get what you're entitled to with ease. Whether you're a frequent flyer or an occasional traveler, our goal is to make your journey smoother and more predictable! </p>
    </div>
    <div class="video-embed">
      <div class="youtube-frame-container">
        <iframe
          src="https://www.youtube.com/embed/JB5f4Kh03jk?si=8p2vp8Gx_3cmKpTr"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        >
        </iframe>
      </div>
      <div class="video-caption">
        <a href="https://www.youtube.com/watch?v=JB5f4Kh03jk" target="_blank">
          Watch on YouTube
        </a>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="search-link">
      <h1>
        <a routerLink="/search">Request a prediction with our model</a>
      </h1>
    </div>
  </div>
</div>
