<div class="homepage-content">
  <div class="section">
    <div class="flight-search-container">
      <h1>Request a prediction</h1>
      <div class="tab-buttons">
        <button
          class="tab-button"
          [class.active]="activeTab === 'have-flight'"
          (click)="switchTab('have-flight')"
          data-tab="have-flight"
        >
          I have a flight
        </button>
        <button
          class="tab-button"
          [class.active]="activeTab === 'search-flight'"
          (click)="switchTab('search-flight')"
          data-tab="search-flight"
        >
          I want to search a flight
        </button>
      </div>
      <div class="tab-content" [class.active]="activeTab === 'have-flight'" id="have-flight">
        <div class="input-group">
          <label for="flight-number">Flight number</label>
          <input type="text" id="flight-number" placeholder="DA1234">
        </div>
        <div class="input-group">
          <label for="date">Date (DDMMYYYY)</label>
          <input type="text" id="date" placeholder="10012024">
        </div>
        <input class="submit-button" type="submit" value="Submit"/>
      </div>
      <div class="tab-content" [class.active]="activeTab === 'search-flight'" id="search-flight">
        <div class="input-group">
          <label for="departure">Departure</label>
          <input type="text" id="departure" placeholder="London">
        </div>
        <div class="input-group">
          <label for="arrival">Arrival</label>
          <input type="text" id="arrival" placeholder="Paris">
        </div>
        <div class="input-group">
          <label for="date">Date (DDMMYYYY)</label>
          <input type="text" id="date" placeholder="10012024">
        </div>
        <button class="submit-button">Submit</button>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="paragraph">
      <h1>Predicting delays</h1>
      <p>Flight delays are becoming increasingly common, affecting customers, airlines, and the entire aviation industry. For travelers, an unexpected delay can disrupt important plans and cause stress. At Sky Denied, we help you stay ahead by predicting flight delays, allowing you to adjust your schedule accordingly. Our machine learning models analyse real-time data to provide accurate predictions, giving you the power to make informed decisions. Beyond just forecasting delays, we also assist in claiming compensation from airlines, ensuring you get what you're entitled to with ease. Whether you're a frequent flyer or an occasional traveler, our goal is to make your journey smoother and more predictable! </p>
    </div>
    <div class="getty-embed">
      <div class="getty-frame-container">
        <iframe
          src="//embed.gettyimages.com/embed/93466101?et=izWYlnX4Rv9zRutOHWsUpg&tld=com&sig=CbPDvrZ_9NG-KNXDvh3eJVjZVZNudTV-AWangIJuAqw=&caption=true&ver=1"
          scrolling="no"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="getty-caption">
        <a href="http://www.gettyimages.com/detail/93466101" target="_blank">
          Embed from Getty Images
        </a>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="search-link">
      <h1>
        <a routerLink="/search">Request a prediction with our model</a>
      </h1>
    </div>
  </div>
</div>

<div>
  <p>Test API</p>
  <button (click)="TestApi">Test API</button>
</div>
<p>Test flight details</p>
<button (click)="TestApi">Test API</button>


